@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@theme {
  --font-inconsolata: Inconsolata, "monospace";
  --font-jetbrains: JetBrains Mono, "monospace";
  --color-myBg: #7f7777;
  --color-terminalColor: #2e2d2d;
  --color-terminalFont: #afafaf;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.6s ease-out forwards;
  }
}

@import "tailwindcss";
